.monthPicker {
    background: #027070;
    box-shadow: 0 1px 5px #696969;
    border-radius: 12px;
    margin-top: 10px;
}


.monthPicker-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.monthPicker-body-month {
    line-height: 35px;
    height: 35px;
    margin: 5px;
    vertical-align: middle;
    text-decoration: none;
    color: #004646;
    color: #fff;
    border-radius: 4px;
    background: #fff;
    background: none;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 3 - 10px);
    flex: 0 0 calc(100% / 3 - 10px);
}

.monthPicker-body-month:hover {
    text-decoration: none;
    color: #008080;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .34);
    cursor: pointer;
}
.nav-tabs li a{
    background-color:#adbcbc;
    color: #696969;
}
