<h2>Manage Labs</h2>
<div class="container">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Lab Name</th>
    </tr>
  </thead>
  <tbody>
    <!-- <tr><td><input class="form-control" name="uname" [(ngModel)]="uname"></td><td><button class="btn default-btn" (click)="register()">Add</button></td></tr>
    <tr *ngFor="let user of users" #employees>
      <td><input value="{{user.username}}" class="form-control" disabled></td><button class="btn button-danger" name="{{user._id}}" (click)="deleteUser($event)">Delete</button></td>
    </tr> -->
  </tbody>
</table>
</div>
