<h2>Current Reservaions</h2>
<form class="form-inline">
      <div class="input-append date form-group" id="dp3" data-date="12-02-2012">
          <span class="add-on" data-weekpicker="weekpicker"
          data-target="#week_range"><button class="default-btn btn">Pick A Week</button></span>
          <input type="text" class="form-control" readonly="" id="week_range" placeholder="Pick A Week To See Reservaions" (click)="showReservations($event)"/>
      </div>
</form>
<svg width="22" height="25">
    <rect x="4" y="12" width="12" height="12" style="fill:white;stroke:black;stroke-width:1;stroke-opacity:0.9" />
    Sorry, your browser does not support inline SVG.  
  </svg> Available
  <svg width="21" height="25">
      <rect x="4" y="12" width="12" height="12" style="fill:rgb(219, 142, 0);;stroke:black;stroke-width:1;stroke-opacity:0.9" />
      Sorry, your browser does not support inline SVG.  
    </svg> Reserved
<br>
<table class="table-bordered" id="reservationtable">
    <thead>
      <tr>
        <th scope="col">Lab Name</th>
        <th scope="col">Sunday<label>({{date.su}})</label>
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
        <th scope="col">Monday<label>({{date.mo}})</label>
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
        <th scope="col">Tuesday<label>({{date.tu}})</label>
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
        <th scope="col">Wednesday<label>({{date.we}})</label>
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
        <th scope="col">Thursday<label>({{date.th}})</label>
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
        <th scope="col">Friday<label>({{date.fr}})</label>
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
        <th scope="col">Saturday<label>({{date.sa}})</label>
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-default" *ngFor="let lab of allLabs">
        <th scope="row">{{lab.labName}}</th>
        <td *ngFor="let k of objectKeys(date)">
          <table class="time-slot">
            <td *ngFor="let timeSolt of timeSlots" [ngClass]="{'reserved':isReserved(lab.labName,date[k],timeSolt)}"></td>
          </table>
        </td>
      </tr>
    </tbody>
</table>


