<h2>Current Reservaions</h2>
<table class="table-bordered" id="reservationtable">
    <thead>
      <tr>
        <th scope="col">Lab Name</th>
        <th scope="col">Sunday
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
        <th scope="col">Monday
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
        <th scope="col">Tuesday
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
        <th scope="col">Wednesday
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
        <th scope="col">Thursday
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
        <th scope="col">Friday
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
        <th scope="col">Saturday
          <table>
            <td>8-10</td><td>10-12</td><td>1-3</td><td>3-5</td>
          </table>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-default">
        <th scope="row">Lab A</th>
        <td>
          <table class="time-slot">
            <td class="reserved"></td><td></td><td></td><td></td>
          </table>
        </td>
        <td>
          <table class="time-slot">
            <td class="reserved"></td><td></td><td></td><td></td>
          </table>
        </td>
        <td>
          <table class="time-slot">
            <td class="reserved"></td><td></td><td></td><td></td>
          </table>
        </td>
        <td>
          <table class="time-slot">
            <td class="reserved"></td><td></td><td></td><td></td>
          </table>
        </td>
        <td>
          <table class="time-slot">
            <td class="reserved"></td><td></td><td></td><td></td>
          </table>
        </td>
        <td>
          <table class="time-slot">
            <td class="reserved"></td><td></td><td></td><td></td>
          </table>
        </td>
        <td>
          <table class="time-slot">
            <td class="reserved"></td><td></td><td></td><td></td>
          </table>
        </td>
      </tr>
    </tbody>
</table>


