<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['']">UCSC Lab Reservation</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-4">
        <form (submit)="login()">
          <ul class="nav navbar-nav navbar-right">
            <li><input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="username" *ngIf="loggedout"></li>
            <li><input type="password"  class="form-control"  placeholder="Password" style="margin-left: 10px;" name="password" [(ngModel)]="password" *ngIf="loggedout"><a id="fpw" *ngIf="loggedout">Forgotten password?</a></li>
            <li>
              <button class="btn btn-default btn-outline btn-circle" *ngIf="loggedout" type="submit">Login </button>
            </li>
            <li class="dropdown" *ngIf="loggedin">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{currentuname}}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a [routerLink]="['/newreservation']">New reservation</a></li>
                  <li><a [routerLink]="['/myreservations']">My reservations</a></li>
                  <li><a [routerLink]="['']">Current reservations</a></li>
                  <li><a href="#">Settings</a></li>
                  <li class="divider"></li>
                  <li><a href="#" (click)="logout()">Logout</a></li>
                </ul>
              </li>
          </ul>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->
