<h2>New Reservaion</h2>

<div class="container" style="background-color: rgb(159, 179, 179,.3); padding:52px; border-radius: 10px;">
    <div class="col-md-5 col-md-offset-1">
      <div class="well">
       <form action="/action_page.php">
        <h3>Start with Lab</h3>
        <div class="form-group">
          <label for="labname">Lab Name:</label>
          <select class="form-control" id="labname" name="labName" [(ngModel)]="labName" (change)="labChanged()">
            <option value="select" selected>Select</option>
            <option *ngFor="let lab of allLabs" value={{lab.labName}}>{{lab.labName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="date">Pick A Date:</label>
          <div class="form-group">
              <div class="date">
                  <div class="input-group input-append date" id="datePicker1">
                      <input type="text" placeholder="Date" class="form-control" name="date"  (blur)="findtimeslots($event)"/>
                      <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
              </div>
          </div>
        </div>
        <div class="form-group">
          <label for="labname">Pick A Time:</label>
          <select  class="form-control" id="labname" name="time" [(ngModel)]="time" (change)="onChangeTime($event.target)">
            <option>Select</option>
            <option *ngFor="let timeSlot of timeSlots">{{timeSlot}}</option>
          </select>
        </div>
        <button type="submit" class="btn default-btn" (click)="addReservation()">Reserve</button>
      </form> 
    </div>
  </div>
    <div class="col-md-5">
        <div class="well">
            <form action="/action_page.php">
              <h3>Start with Time</h3>
              <div class="form-group">
                  <label for="labname">Pick A Time:</label>
                  <select  class="form-control" id="labname">
                    
                    <option>8-10</option>
                    <option>10-12</option>
                    <option>1-3</option>
                    <option>3-5</option>
                  </select>
              </div>
              <div class="form-group">
                  <label for="date">Pick A Date:</label>
                  <div class="form-group">
                      <div class="date">
                          <div class="input-group input-append date" id="datePicker3">
                              <input type="text" placeholder="Date" class="form-control" name="date" />
                              <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                <label for="labname">Lab Name:</label>
                <select  class="form-control" id="labname">
                  <option>Select</option>
                </select>
              </div>
              
              <button type="submit" class="btn default-btn">Reserve</button>
            </form> 
         </div>
    </div>
    
    
    
</div>
